/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lwl-blocks-base-scroller
{
   box-sizing:border-box;
   padding:0.25em 0.5em;
   border:1px solid #666666;
   box-shadow:inset 0 1px 5px #00000050;
}

.wp-block-lwl-blocks-base-scroller>.block-editor-inner-blocks
{
   min-height:1.2em;
   padding:1px var(--block-padding-h);   /*1px fixes for outbounding margins of inner elements.*/
}
.wp-block-lwl-blocks-base-scroller>.block-editor-inner-blocks:has(.block-editor-block-list__layout:empty)::after
{
   content:'+';
   cursor:pointer;
}


/* InspectorControls: Speed */
.block-editor-block-inspector .components-panel.lwl-blocks-base-scroller .components-base-control.speed>.components-base-control__field
{
   display:grid;
   grid-template:'l l' 'v u'/1fr auto;
   gap:0.25em;
}

.block-editor-block-inspector .components-panel.lwl-blocks-base-scroller .components-base-control.speed>.components-base-control__field>.components-base-control__label
{
   grid-area:l;
}

.block-editor-block-inspector .components-panel.lwl-blocks-base-scroller .components-base-control.speed>.components-base-control__field>.val
{
   grid-area:v;
}
