/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lwl-blocks-base-image-header-string
{
   box-sizing:border-box;
   width:auto!important;   /*Fix native style that says width:100% that leads block to overflow.*/
   padding:0.25em 0.5em;
   border:1px solid #666666;
   background:none #00000004;
}

/* Image */
.wp-block-lwl-blocks-base-image-header-string>.components-base-control.image
{
   flex:0 0 auto;
}

.wp-block-lwl-blocks-base-image-header-string>.components-base-control.image>.components-base-control__field>button
{
   position:relative;
   padding:0.5em 0.5em;
   border:1px solid #666666;
   background:none #0000000F;
}
.wp-block-lwl-blocks-base-image-header-string>.components-base-control.image>.components-base-control__field>button:has(img)
{
   width:8em;
   height:8em;
}

.wp-block-lwl-blocks-base-image-header-string>.components-base-control.image>.components-base-control__field>button>img
{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit:cover;
   object-position:center;
}

/* Header */
.wp-block-lwl-blocks-base-image-header-string>.components-base-control.header
{
   flex:1 1 16em;
}

/* Text */
.wp-block-lwl-blocks-base-image-header-string>.components-base-control.text
{
   flex:1 1 100%;
}
